/* HOT SITE */
* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: #000;
  height: 100%;
  width: 100%;
}

/* PÁGINA */
.pagina {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.login { font-size: 18px; }

.botao-entrar {
  border: 1px solid;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.botao-entrar:hover {
  background-color: #fff;
  color: #000;
}

/* SLOGAN */
.slogan {
  flex-grow: 1;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan h1 { font-size: 40px; }
.slogan h3 { font-size: 22px; }